// TC-1
$TC-1-Heading01-Regular: (
  'family': 'Chiron GoRound TC',
  'weight': 400,
  'size': 48px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Heading02-Regular: (
  'family': 'Chiron GoRound TC',
  'weight': 400,
  'size': 40px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Heading03-Regular: (
  'family': 'Chiron GoRound TC',
  'weight': 400,
  'size': 32px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Heading04-Regular: (
  'family': 'Chiron GoRound TC',
  'weight': 400,
  'size': 28px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Heading05-Regular: (
  'family': 'Chiron GoRound TC',
  'weight': 400,
  'size': 24px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Heading06-Regular: (
  'family': 'Chiron GoRound TC',
  'weight': 400,
  'size': 20px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Body-Regular: (
  'family': 'Chiron GoRound TC',
  'weight': 400,
  'size': 16px,
  'line-height': 1.5,
  'letter-spacing': 0.02em,
);

$TC-1-Small-Regular: (
  'family': 'Chiron GoRound TC',
  'weight': 400,
  'size': 14px,
  'line-height': 1.5,
  'letter-spacing': 0.02em,
);

$TC-1-Tiny-Regular: (
  'family': 'Chiron GoRound TC',
  'weight': 400,
  'size': 12px,
  'line-height': 1.5,
  'letter-spacing': 0.02em,
);

$TC-1-Display: (
  'family': 'Chiron GoRound TC',
  'weight': 900,
  'size': 80px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-1-Heading01-Bold: (
  'family': 'Chiron GoRound TC',
  'weight': 700,
  'size': 48px,
  'line-height': 1.2,
  'letter-spacing': 0.02em,
);

$TC-1-Heading02-Bold: (
  'family': 'Chiron GoRound TC',
  'weight': 700,
  'size': 40px,
  'line-height': 1.2,
  'letter-spacing': 0.02em,
);

$TC-1-Heading03-Bold: (
  'family': 'Chiron GoRound TC',
  'weight': 700,
  'size': 32px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Heading04-Bold: (
  'family': 'Chiron GoRound TC',
  'weight': 700,
  'size': 28px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Heading05-Bold: (
  'family': 'Chiron GoRound TC',
  'weight': 700,
  'size': 24px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Heading06-Bold: (
  'family': 'Chiron GoRound TC',
  'weight': 700,
  'size': 20px,
  'line-height': 1.2,
  'letter-spacing': 0.05em,
);

$TC-1-Body-Bold: (
  'family': 'Chiron GoRound TC',
  'weight': 700,
  'size': 16px,
  'line-height': 1.5,
  'letter-spacing': 0.02em,
);

$TC-1-Small-Bold: (
  'family': 'Chiron GoRound TC',
  'weight': 700,
  'size': 14px,
  'line-height': 1.5,
  'letter-spacing': 0.02em,
);

$TC-1-Tiny-Bold: (
  'family': 'Chiron GoRound TC',
  'weight': 700,
  'size': 12px,
  'line-height': 1.5,
  'letter-spacing': 0.02em,
);

//TC-2
$TC-2-Heading01-Regular: (
  'family': 'Noto Sans TC',
  'weight': 400,
  'size': 48px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading02-Regular: (
  'family': 'Noto Sans TC',
  'weight': 400,
  'size': 40px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading03-Regular: (
  'family': 'Noto Sans TC',
  'weight': 400,
  'size': 32px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading04-Regular: (
  'family': 'Noto Sans TC',
  'weight': 400,

  'size': 28px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading05-Regular: (
  'family': ' Noto Sans TC',
  'weight': 400,
  'size': 24px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading06-Regular: (
  'family': 'Noto Sans TC',
  'weight': 400,
  'size': 20px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Body-Regular: (
  'family': 'Noto Sans TC',
  'weight': 400,
  'size': 16px,
  'line-height': 1.5,
  'letter-spacing': 0.02em,
);

$TC-2-Small-Regular: (
  'family': 'Noto Sans TC',
  'weight': 400,
  'size': 14px,
  'line-height': 1.5,
  'letter-spacing': 0em,
);

$TC-2-Tiny-Regular: (
  'family': 'Noto Sans TC',
  'weight': 400,
  'size': 12px,
  'line-height': 1.5,
  'letter-spacing': 0.02em,
);

$TC-2-Display: (
  'family': 'Noto Sans TC',
  'weight': 700,
  'size': 80px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading01-Bold: (
  'family': 'Noto Sans TC',
  'weight': 700,
  'size': 48px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading02-Bold: (
  'family': 'Noto Sans TC',
  'weight': 700,
  'size': 40px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading03-Bold: (
  'family': 'Noto Sans TC',
  'weight': 700,
  'size': 32px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading04-Bold: (
  'family': 'Poppins',
  'weight': 700,
  'size': 28px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading05-Bold: (
  'family': 'Noto Sans TC',
  'weight': 700,
  'size': 24px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Heading06-Bold: (
  'family': 'Noto Sans TC',
  'weight': 700,
  'size': 20px,
  'line-height': 1.2,
  'letter-spacing': 0em,
);

$TC-2-Body-Bold: (
  'family': 'Noto Sans TC',
  'weight': 700,
  'size': 16px,
  'line-height': 1.5,
  'letter-spacing': 0em,
);

$TC-2-Small-Bold: (
  'family': 'Noto Sans TC',
  'weight': 700,
  'size': 14px,
  'line-height': 1.5,
  'letter-spacing': 0em,
);

$TC-2-Tiny-Bold: (
  'family': 'Noto Sans TC',
  'weight': 700,
  'size': 12px,
  'line-height': 1.5,
  'letter-spacing': 0em,
);

@mixin apply-font($config) {
  font-family: unquote(map-get($config, 'family'));
  font-weight: map-get($config, 'weight');
  font-style: map-get($config, 'style');
  font-size: map-get($config, 'size');
  line-height: map-get($config, 'line-height');
  letter-spacing: map-get($config, 'letter-spacing');
}
