@use '../helpers/variables' as *;

.ui-fullpage-loader {
  position: fixed;
  inset: 0;

  background: rgba($ui-neutral-400, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(2px);
}
