@use '../helpers/variables' as *;
@use 'sass:color';

.toast-success {
  background-color: $ui-success;
  color: #fff;
}

.toast-warning {
  background-color: $ui-warning;
  color: #fff;
}

.toast-danger {
  background-color: $ui-danger;
  color: #fff;
}
